body {
  background-color: #FFDD23;
  font-family: impact;
  margin: 0;
}

button,
span {
  background-color: transparent;
  border-color: black;
  font-family: impact;
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin: 0;
}

header,
.power-saving-mode {
  background-color: black;
  color: #FFDD23;
}

header {
  padding: 0.5em 5em;
}

#icon {
  font-size: 3em;
}

#weather {
  font-size: 4em;
}

.temperature-buttons {
  display: block;
}

.temperature h2,
#weather,
.local-weather h2 {
  display: inline;
}

.reset-button {
  color: #C90002;
}

.temperature,
.local-weather {
  margin: 4em 5em 5em;
  display: inline-block;
}

.temperature h2,
.local-weather h2,
#weather {
  font-size: 6em;
}

.power-saving-mode,
.energy-usage {
  text-align: right;
  padding: 1.25em 2.5em 1.5em;
  margin-top: 2em;
}

.black {
  background-color: #FFDD23;
  color: black;
}

.red {
  background-color: #FFDD23;
  color: #C90002;
}

.energy-usage span {
  margin-left: 0.25em;
}

@media screen and (min-width: 960px) {
  header {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 8em;
    padding: 1em 0 0;
    margin: 0;
  }

  h1 {
    font-size: 7em;
    transform: translateX(-20px) rotateZ(90deg);
  }

  .temperature,
  .power-saving-mode,
  .energy-usage {
    margin-right: 8em;
  }
}
